.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 2%; */
    background-color: #8DCFE9;
    /* width : 70vw;
    height: 60vw; */
    /* position: absolute;
    top: 0; left: 0; */
    border-radius: 8px;
    margin: auto;
}

.imgWorkFeed {
    height : 42vw;
    margin: 1.5% 2% 2% 2%;
    border-radius: 8px;
}

.usernameWorkFeedwithButtons {
    margin: 2% 2% 0% 2%;
    margin-bottom: 0%;
    border-radius: 8px;
    padding: 0.5% 1% 0.5% 1%;
    background-color: #ffffff;
    height : 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-basis: 3000px;
    justify-content: flex-start;
}

.usernameWorkFeed {
    margin: 2% 2% 0% 2%;
    margin-bottom: 0%;
    border-radius: 8px;
    padding: 0.5% 1% 0.5% 1%;
    background-color: #ffffff;
    height : 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.usernameContent {
    font-family:'Verdana', Sans-serif;
    font-size: 32px;
    color:rgb(21, 34, 219);
}

.header {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    margin: 0% 2% 0% 0%;
    padding: 0%
}

.editPost {
    width: 250px;
    height: 40px;
    margin: 2% 2% 0% 0%;
    padding: 0.5% 0% 0.5% 0%;
    margin-top: 2%;
    background-color: white;

    border-radius: 8px;
    cursor: pointer;
    
    text-decoration: none;
    font-family:'Verdana', Sans-serif;
    font-size: 16px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.deletePost {
    width: 250px;
    height: 40px;
    margin: 2% 0% 0% 0%;
    padding: 0.5% 0% 0.5% 0%;
    margin-top: 2%;
    background-color: white;

    border: 0px;
    border-radius: 8px;
    cursor: pointer;
    
    text-decoration: none;
    font-family:'Verdana', Sans-serif;
    font-size: 16px;
    color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}