
.canvas {
    border-radius: 20px;
    display: grid;
    border: 10px solid black;
    background-color:white;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.colorPanel {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    margin: 10px;
}

.controlPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}

.canvas-color {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: none;
    display: inline-block;
    font-size: 16px;
    outline:none;
  }

.red { background-color: #FE0000; }
.orange { background-color: #FFA500;}
.yellow { background-color: #ffff00;}
.green {background-color: green;}
.blue {background-color: blue;}
.purple {background-color: purple;}
.brown {background-color: brown;}
.pink {background-color: pink;}
.black {background-color: black;}
.gray{ background-color: gray;}
.white {background-color: white;}
.lime {background-color: lime;}
.coral {background-color: coral;}
.darkRed {background-color: rgb(100, 0, 0);}
.violet {background-color: violet;}
.navy {background-color: navy;}
.cyan {background-color: cyan;}
.lightGray {background-color: lightgray;}
.goldenRod {background-color: goldenrod;}
.indigo {background-color: indigo;}

.pencil {cursor: pointer; background:url(../images/Pencil_64x64.png) no-repeat;}
.clear {cursor: pointer; background:url(../images/Clear_64x64.png) no-repeat;}
.submit {cursor: pointer; background:url(../images/Submit_64x64.png) no-repeat;}
.undo {cursor: pointer; background:url(../images/Undo_64x64.png) no-repeat;}
.fill {cursor: pointer; background:url(../images/Fill_64x64.png) no-repeat;}
.download { cursor: pointer; background:url(../images/Download_64x64.png) no-repeat;}

.pencil:hover {background:url(../images/Pencil1_64x64.png) no-repeat;}
.clear:hover {background:url(../images/Clear1_64x64.png) no-repeat;}
.submit:hover {background:url(../images/Submit1_64x64.png) no-repeat;}
.undo:hover {background:url(../images/Undo1_64x64.png) no-repeat;}
.fill:hover {background:url(../images/Fill1_64x64.png) no-repeat;}
.download:hover {background:url(../images/Download1_64x64.png) no-repeat;}

.techButton {
    height: 64px;
    width: 64px;
    margin: 10px; 
    border: 1px solid white;
    border-radius: 8px;
    outline:none;
}

.sizeButton {
    height: 64px;
    width: 64px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid white;
    text-align: center;
    font-size: 24px;
    font-family: "Comic", serif;
}

.buttonSelected {
    border: 2px solid #000000;
}

.popUp {
    display: none;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popUpContent {
    position: relative;
    width: 30%;
    height: 10%;
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    text-align: center;
    padding: 30px;
    font-size: 18px;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer
}

.submitDrawing {
    position: absolute;
    text-align: center;
    padding: 4px;

    bottom: 16px;
    right: 16px;
    border-radius: 4px;
    background-color: #8DCFE9;

    width: 60px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.tagCanvas {
    display: flex;

    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.72);
    background-color:white;

    width: 900px;
    height: 32px;
    font-size: 16px;

    font-family:'Verdana', Sans-serif;
}

.tagCanvasButton {
    display: flex;

    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.72);
    background-color:white;

    width: 80px;
    height: 40px;
    font-size: 16px;

    font-family:'Verdana', Sans-serif;

    margin-left: 20px;

    justify-content: center;
    align-items: center;
}

.taggingFeature {
    margin-top: 1%;
    display: inline-flex;
}

.taggedCanvas {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.72);
    background-color:white;

    width: 1000px;
    height: 32px;
    font-size: 16px;

    font-family:'Verdana', Sans-serif;
}
