.spacing {
    display: flex;
    
    margin: 2%;
    margin-bottom: 0%;
    justify-content: flex-start;
    
}

.feed {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}